# Compiled files
target/
project/target/
project/project/
.bloop/

# Log files
*.log

# Temporary files
*~
*.swp
*.tmp
*.bak

# Config files with secrets
src/main/resources/application.conf
src/main/resources/flyway.conf

